@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,600,300,700,800);


// ---------- HEADER ---------- //

  .header {
    margin-bottom: 0.4in;
  }

  .header__name {
    font-weight: 800;
  }

  .header__role {
    font-weight: 400;
    line-height: 1.5;
  }

  .header__location {
    font-weight: 400;
  }

  .header__contact {
    font-weight: 600;
    padding-bottom: 0.1in;
    @extend %clearfix;
    &:last-child {
      @extend %clearfix;
      padding-bottom: none;
    }
  }

  .current-event {
    text-align: center;
  }









// ---------- MAIN SECTIONS ---------- //

  .section__heading {
    font-weight: 600;
    border-bottom: 1px solid black;
    text-transform: uppercase;
  }

  .section__entry {
    position: relative;
    padding-top:    0.05in;
    padding-bottom: 0.05in;
    line-height: 1.5;
    border-bottom: 1px solid rgba(0,0,0,0.25);
    &:last-child {
      margin-bottom: 0.3in;
      border-bottom: none;
      #work & {
        margin-bottom: 0;
      }
    }
    .company-logo {
      position: absolute;
      top:      50%;
      right:    0;
      // height:   100%;
      -webkit-transform: translateY(-50%);
          -ms-transform: translateY(-50%);
              transform: translateY(-50%);
    }
  }

  .section__item--bold {
    font-weight: 600;
  }

  .skill-list {
    list-style-type: none;
  }

  .skill-list__item {
    display: block;
    float: left;
    width: 25%;
    @media screen and (max-width: 30em) {
      width: ((1/3) * 100%);
    }
  }










// ---------- EXTRA FUNCTIONALITY ---------- //

  .toggle-button {
    position: absolute;
    top: 0;
    left: 0;
    width: 50px;
    height: 50px;
    background-color: transparent;
    border: none;
    &:focus {
      outline: none;
    }
  }

  .section--filter {
    position: relative;
    top: -3px;
    left: 1rem;
    width: 200px;
    border: 1px solid silver;
  }

  .skill-list__item.ng-move,
  .skill-list__item.ng-enter,
  .skill-list__item.ng-leave {
    -webkit-transition: 0.75s ease all;
            transition: 0.75s ease all;
  }

  .skill-list__item.ng-enter,
  .skill-list__item.ng-leave.ng-leave-active {
      opacity: 0;
      -webkit-transform: translateY(-50%);
          -ms-transform: translateY(-50%);
              transform: translateY(-50%);
  }

  .skill-list__item.ng-leave,
  .skill-list__item.ng-enter.ng-enter-active {
      opacity: 1;
      -webkit-transform: translateY(0);
          -ms-transform: translateY(0);
              transform: translateY(0);
  }

  .print-btn {
    outline:       none;
    background:    none;
    padding:       0.1em 1em;
    border:        1px solid grey;
    border-radius: 1em;
    color:         grey;
    cursor:        pointer;

    &:active {
      color:            white;
      background-color: grey;
    }
  }



// ---------- ICONS & IMGS ---------- //

  .company-logo {
    max-width: 1.5in;
    float: right;
    @media screen and (max-width: 36em) {
      display: none;
    }
  }

  .icon {
    display: inline-block;
    font-style: normal;
  }

  .right-arrow {
    &:before {
      content: '\2794';
    }
  }

  .heart {
    &:before {
      content: '\2665';
    }
  }

  .github-ribbon {
    @media screen and (max-width: 55em) {
      display: none;
    }
  }

  .github-ribbon-text {
    display: none;
    @media screen and (max-width: 55em) {
      display: inherit;
    }
  }








// ---------- GLOBAL STYLES  ---------- //

  body {
    max-width: 6.5in;
    margin: 0.25in auto;
    @media screen and (max-width: 41em) {
      padding-left: 0.1in;
      padding-right: 0.1in;
    }
  }

  [data-dp-used-for*="web-only"] {
    @media print {
      display: none;
    }
  }

  [data-dp-max-width-at*="25em"] {
    @media screen and (max-width: 36em) {
      width: 100%;
    }
    &:first-child {
      @media screen and (max-width: 36em) {
        padding-bottom: 0.3in;
      }
    }
  }

  [data-dp-stay-visible="true"] {
    display: inherit !important;
  }

  .col.text-center { text-align: center; }
  .col.text-left   { text-align: left;   }
  .col.text-right  { text-align: right;  }

  .text-italic { font-style: italic; }

  .no-border { border-bottom: none; }

  %clearfix {
    &:before,
    &:after {
      content: '';
      display: table;
      clear:both;
    }
  }
