section {
  margin-bottom: 10vw;
}

.dp-text-primary {
  font-size: 7vmax;
}

.dp-text-secondary {
  font-size: 4vmax;
}

.dp-text-auxiliary {
  font-size: 2.6vmax;
}

.headline {
  padding: 1.2rem;
  font-size: 2.9vmax;
  font-weight: 200;
  line-height: 1.5;
}

@media screen and (min-width: 668px) {
  .headline {
    padding: 2rem;
    font-size: 2.4vmax;
  }
}
