section {
  margin-bottom: 10vw;
}

.dp-text-primary {
  font-size: 8vw;
}

.dp-text-secondary {
  font-size: 6vw;
}

.dp-text-auxiliary-lg {
  font-size: 4vw;
}

.dp-text-auxiliary-sm {
  font-size: 3vw;
}

.headline {
  padding: 2rem;
  border: 1px solid #000;
  border-radius: 2rem;
}

@media screen and (max-width: 768px) {
  .headline {
    font-size: 3.5vw;
    line-height: 5vw;
  }
}

@media screen and (min-width: 769px) and (max-width: 1080px) {
  .headline {
    font-size: 3.5vw;
    line-height: 5vw;
  }
}
