.availability {
  position: fixed;
  top:      0.2in;
  left:     0.2in;
  width:    3in;

  @media (max-width: $breakpoint-xl) {
    position:      initial;
    margin-bottom: 0.5in;
    width:         100%;
  }
}



.availability__calendar {
  margin-top: 0.2in;
  width:      100%;

}

.availability__calendar-bar {
  display: block;
  width:   100%;

  -webkit-appearance: none;
          appearance: none;

  &::-webkit-progress-bar {
    background-color: $positive;
    border-radius:    2px;
  }

  &::-webkit-progress-value {
    background-color:           $negative;
    border-radius:              2px;
    border-top-right-radius:    0;
    border-bottom-right-radius: 0;
  }
}

.availability__calendar-table {
  width:           100%;
  border-collapse: collapse;
  margin-top:      0.04in;
  cursor:          help;
}

.availability__calendar-month {
  width:      (1/12) * 100%;
  text-align: center;
}

.availability__calendar-month + .availability__calendar-month {
  border-left: 1px solid $neutral;
}

.availability__calendar-month--current {
  position: relative;

  &::after {
    content:    "\25ce";
    position:   absolute;
    left:       0;
    top:        calc(-100% - 0.02in);
    width:      100%;
    text-align: center;
    color:      white;
    font-size:  0.6rem;
  }
}



  // & .calendar__current-month {
  //   position: relative;
  //   &::before {
  //     content: "•";
  //     position: absolute;
  //     top: -100%;
  //     left: 50%;
  //     height: 100%;
  //     transform: translate(-50%,-21%);
  //     color: white;
  //   }
  // }
  // */



progress {
  // -webkit-appearance: none;
  // appearance: none;
  // display: block;
  // width: 19rem;

  // &::-webkit-progress-bar {
  //   background-color: $positive;
  //   border-radius: 2px;
  // }

  // &::-webkit-progress-value {
  //   background-color: $negative;
  //   border-radius: 2px;
  //   border-top-right-radius: 0;
  //   border-bottom-right-radius: 0;
  // }
}
