.availability {
  position: fixed;
  top:      0.2in;
  left:     0.2in;
  width:    3in;

  @media (max-width: $breakpoint-xl) {
    position:      initial;
    margin-bottom: 0.5in;
    width:         100%;
  }
}

.calendar,
.calendar__bar,
.calendar__label,
.calendar__text {
  width:           100%;
  border-collapse: collapse;
}

.calendar table + table {
  margin-top: 0.04in;
}

.calendar__label-half--last {
  text-align: right;
}

.calendar__month {
  width:      (1/12) * 100%;
  text-align: center;
}

.calendar__month--bar {
  height: 1rem;

  &:first-child {
    border-top-left-radius:    2px;
    border-bottom-left-radius: 2px;
  }

  &:last-child {
   border-top-right-radius:    2px;
   border-bottom-right-radius: 2px;
  }
}

.calendar__month--yep {
  background-color: $positive;
}

.calendar__month--nope {
  background-color: $negative;
}

.calendar__month--text {
  cursor: help;
}

.calendar__month--text + .calendar__month--text {
  border-left: 1px solid $neutral;
}

.calendar__month--current {
  position: relative;

  &::after {
    content:    "\25ce";
    position:   absolute;
    left:       0;
    top:        calc(-100% - 0.02in);
    width:      100%;
    text-align: center;
    color:      white;
    font-size:  0.6rem;
  }
}
