.header {
  margin-bottom: 0.4in;
}

.header__name {
  font-weight: 800;
}

.header__role {
  font-weight: 400;
  line-height: 1.5;
}

.header__location {
  font-weight: 400;
}

.header__contact {
  font-weight: 600;
  padding-bottom: 0.1in;
  @extend %clearfix;
  &:last-child {
    @extend %clearfix;
    padding-bottom: none;
  }
}

.header__current-event {
  text-align: center;
}
