.company-logo {
  max-width: 1.5in;
  float:     right;

  @media screen and (max-width: $breakpoint-sm) {
    display: none;
  }

  &[src$='nba.png'] {
    height: 50%;
  }
}

.fa.fa-heart {
  font-size: 0.9em;
}
