.toggle-button {
  position: absolute;
  top: 0;
  left: 0;
  width: 50px;
  height: 50px;
  background-color: transparent;
  border: none;
  &:focus {
    outline: none;
  }
}

.section--filter {
  position: relative;
  top: -3px;
  left: 1rem;
  width: 200px;
  border: 1px solid silver;
}

.skill-list__item.ng-move,
.skill-list__item.ng-enter,
.skill-list__item.ng-leave {
  -webkit-transition: 0.75s ease all;
          transition: 0.75s ease all;
}

.skill-list__item.ng-enter,
.skill-list__item.ng-leave.ng-leave-active {
    opacity: 0;
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
}

.skill-list__item.ng-leave,
.skill-list__item.ng-enter.ng-enter-active {
    opacity: 1;
    -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
            transform: translateY(0);
}

.print-btn {
  outline:       none;
  background:    none;
  padding:       0.1em 1em;
  border:        1px solid grey;
  border-radius: 1em;
  color:         grey;
  cursor:        pointer;

  &:active {
    color:            white;
    background-color: grey;
  }
}

.github-btn {
  display:         block;
  position:        fixed;
  top:             0.2in;
  right:           0.2in;
  padding:         0.1in;
  font-size:       1.5em;
  text-decoration: none;
  color:           #333;
  border:          1px solid #333;
  border-radius:   5px;
  box-shadow:      0 0 5px rgba(0,0,0,0.3);
  transition:      all 0.25s ease;

  @media (max-width: 69em) {
    display: none;
  }

  &:hover {
    background: linear-gradient(#999, #333);
    color:      white;
    box-shadow: none;
  }

  &:active {
    background: linear-gradient(#333, #999);
    color:      white;
    box-shadow: none;
    transition: all 0 ease;
  }
}
