@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,600,300,700,800);

body {
  max-width: 6.5in;
  margin: 0.25in auto;
  @media (max-width: $breakpoint-md) {
    padding-left: 0.1in;
    padding-right: 0.1in;
  }
}

strong {
  font-weight: bold;
}

.col.text-center { text-align: center; }
.col.text-left   { text-align: left;   }
.col.text-right  { text-align: right;  }

%clearfix {
  &:before,
  &:after {
    content: '';
    display: table;
    clear:both;
  }
}

