.row {
  width:          100%;
  padding-bottom: 0.5in;

  &:last-child {
    padding-bottom: 0;
  }
}

.col {
  float: left;

  &:last-child {
    float:      right;
    text-align: right;
  }
}

.row,
.col {
  &:before,
  &:after {
    content: '';
    display: table;
    clear:   both;
  }
}




.one,
.offset-one {
  width: 10%;
}

.two,
.offset-two {
  width: 20%;
}

.three,
.offset-three {
  width: 30%;
}

.four,
.offset-four {
  width: 40%;
}

.five,
.offset-five {
  width: 50%;
}

.six,
.offset-six {
  width: 60%;
}

.seven,
.offset-seven {
  width: 70%;
}

.eight,
.offset-eight {
  width: 80%;
}

.nine,
.offset-nine {
  width: 90%;
}

.ten,
.offset-ten {
  width: 100%;
}


.one,
.two,
.three,
.four,
.five,
.six,
.seven,
.eight,
.nine {
  @media screen and (max-width: $breakpoint-sm) {
    width: 50%;
  }
}

.offset-one,
.offset-two,
.offset-three,
.offset-four,
.offset-five,
.offset-six,
.offset-seven,
.offset-eight,
.offset-nine,
.offset-ten {
  @media screen and (max-width: $breakpoint-sm) {
    margin-left: 0;
  }
}

