.company-logo {
  max-width: 1.5in;
  float:     right;

  @media screen and (max-width: 36em) {
    display: none;
  }

  &[src$='nba.png'] {
    height: 50%;
  }
}

.icon {
  display: inline-block;
  font-style: normal;
}

.right-arrow {
  &:before {
    content: '\2794';
  }
}

.heart {
  &:before {
    content: '\2665';
  }
}


