* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-rendering: optimizeLegibility;
  font-weight: 100;
}

$font-size: 10pt;

html,
body {
  font-size: $font-size;
  line-height: 1;
  font-family: 'Open Sans', sans-serif;
}


// SCALE = Major 2nd (1:1.125) //

h6 { font-size: $font-size * (1.125);}
h5 { font-size: $font-size * (1.125 * 1.125);}
h4 { font-size: $font-size * (1.125 * 1.125 * 1.125);}
h3 { font-size: $font-size * (1.125 * 1.125 * 1.125 * 1.125);}
h2 { font-size: $font-size * (1.125 * 1.125 * 1.125 * 1.125 * 1.125);}
h1 { font-size: $font-size * (1.125 * 1.125 * 1.125 * 1.125 * 1.125 * 1.125);}
