
[hide-xl] {
  @media (min-width: $breakpoint-xl) {
    display: none !important;
  }
}

[hide-lg] {
  @media (min-width: $breakpoint-lg) and (max-width: $breakpoint-xl){
    display: none !important;
  }
}

[hide-md] {
  @media (min-width: $breakpoint-md) and (max-width: $breakpoint-lg){
    display: none !important;
  }
}

[hide-sm] {
  @media (min-width: $breakpoint-sm) and (max-width: $breakpoint-md){
    display: none !important;
  }
}

[hide-xs] {
  @media (max-width: $breakpoint-sm){
    display: none !important;
  }
}


[web-only] {
  @media print {
    display: none;
  }
}

[print-only] {
  display: none;
  @media print {
    display: initial;
  }
}
